Importing the dependencies

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

loading the data

In [35]:
# Load the benin data
df = pd.read_csv(r"C:\Users\gasha\Desktop\solar-challenge-week0\data\benin-malanville.csv")
print("Dataset shape:", df.shape)

Dataset shape: (525600, 19)

# 1 Summary Statistics & Missing-Value Report

In [40]:
print("An overview of the dataset: the shape of the dataset")
df.info()

An overview of the dataset: the shape of the dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [37]:
print("Missing Value Report:")
print(df.isnull().sum())

Missing Value Report:
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [2]:
#list any column with >5% nulls
print(f"Columns with > 5% nulls: {[col for col in df.columns if df[col].isnull().sum()/len(df) > 0.05]}")

NameError: name 'df' is not defined

In [1]:
print("Description of the numerical columns summary statistics:")
print(df.describe())

Description of the numerical columns summary statistics:

NameError: name 'df' is not defined

In [42]:
#Exact duplicate rows
print("Duplicated rows:", df.duplicated().sum())

Duplicated rows: 0

# 2 Outlier Detection & Basic Cleaning